@model WebSiteAnalyzerWeb.Models.WebSiteViewModel

@using (Html.BeginForm("Index", "Home"))
{
    @Html.AntiForgeryToken()

    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Url)

            <hr />

            <input type="submit" value="Submit" />
        </div>
    </div>
}



<table class="table">
    <tr>
        <th>
            Page
        </th>
        <th>
            Page Response Time
        </th>
        <th>
            Max Response Time
        </th>
        <th>
            Min Response Time
        </th>

    </tr>

    @if (Model != null)
    {


        foreach (var item in Model.Pages)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponseTime)
                </td>
                <td>
                    @Html.DisplayFor(x => Model.MaxResponseTime)
                </td>
                <td>
                    @Html.DisplayFor(x => Model.MinResponseTime)
                </td>
            </tr>
        }

    }

</table>

@if (Model != null)
{

    @Html.ActionLink("Get History", "History", "Home", new { url = Model.Url }, new { @class = "btn btn-primary" }) 

}





