@model IEnumerable<WebSiteAnalyzerWeb.Models.HistoryViewModel>

@{
    Layout = "_MasterLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="mt-5">History</h2>
        </div>
    </div>
</div>


<table class="table table-hover">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.MinResponseTime)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.MaxResponseTime)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th></th>
    </tr>

    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.MinResponseTime)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.MaxResponseTime)
                </td>
                <td class="text-center">

                    @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")

                </td>
            </tr>
        }
    }

</table>

@Html.ActionLink("Back", "Index", "Home", new { @class = "btn btn-primary" })
